# Archivos de configuración y logs
*.log
*.retry
ansible-vault*
.env
secrets.yaml

# Entornos virtuales
.venv/
env/
.env/

# Archivos generados por sistemas operativos
.DS_Store
Thumbs.db
